@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}





$font1: 'Gilroy', sans-serif;